niemtools-bouml/src/test/resources/schema/j.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema targetNamespace="https://docs.oasis-open.org/niemopen/ns/model/domains/justice/6.0/"
 xmlns="https://docs.oasis-open.org/niemopen/ns/model/domains/justice/6.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aamva_d20="https://docs.oasis-open.org/niemopen/ns/model/codes/aamva_d20/6.0/" xmlns:j="https://docs.oasis-open.org/niemopen/ns/model/domains/justice/6.0/" xmlns:nc="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/" xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/" xmlns:ct="https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/" ct:conformanceTargets="https://docs.oasis-open.org/niemopen/ns/specification/NDR/6.0/#ExtensionSchemaDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
<xs:annotation>
<xs:documentation> Schema for namespacehttps://docs.oasis-open.org/niemopen/ns/model/domains/justice/6.0/</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/codes/aamva_d20/6.0/" schemaLocation="niem/codes/aamva_d20.xsd"/><xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/" schemaLocation="niem/niem-core.xsd"/><xs:complexType name="ChargeType">
<xs:complexContent><xs:extension base="structures:ObjectType"><xs:sequence></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:complexType name="CrashDriverType">
<xs:annotation>
<xs:documentation>A data type for a motor vehicle driver involved in a traffic accident.</xs:documentation></xs:annotation><xs:complexContent><xs:extension base="structures:ObjectType"><xs:sequence></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:complexType name="CrashPersonType">
<xs:annotation>
<xs:documentation>A data type for any person involved in a traffic accident.</xs:documentation></xs:annotation><xs:complexContent><xs:extension base="structures:ObjectType"><xs:sequence></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:complexType name="CrashType">
<xs:annotation>
<xs:documentation>A data type for a traffic accident.</xs:documentation></xs:annotation><xs:complexContent><xs:extension base="structures:ObjectType"><xs:sequence></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:complexType name="CrashVehicleType">
<xs:annotation>
<xs:documentation>A data type for a motor vehicle involved in a traffic accident.</xs:documentation></xs:annotation><xs:complexContent><xs:extension base="structures:ObjectType"><xs:sequence></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:complexType name="DriverLicenseType">
<xs:annotation>
<xs:documentation>A data type for a license issued to a person granting driving privileges.</xs:documentation></xs:annotation><xs:complexContent><xs:extension base="structures:ObjectType"><xs:sequence></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:complexType name="DrivingIncidentType">
<xs:annotation>
<xs:documentation>A data type for details of an incident involving a vehicle.</xs:documentation></xs:annotation><xs:complexContent><xs:extension base="structures:ObjectType"><xs:sequence></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:complexType name="PersonChargeAssociationType">
<xs:annotation>
<xs:documentation>A data type for an association between a person and a charge.</xs:documentation></xs:annotation><xs:complexContent><xs:extension base="structures:ObjectType"><xs:sequence></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element name="Charge" abstract="true" nillable="true"></xs:element>
<xs:element name="ChargeDescriptionText" type="nc:TextType" nillable="true"></xs:element>
<xs:element name="ChargeFelonyIndicator" type="xs:boolean" nillable="true"></xs:element>
<xs:element name="Crash" abstract="true" nillable="true"></xs:element>
<xs:element name="CrashDriver" abstract="true" nillable="true"></xs:element>
<xs:element name="CrashPerson" abstract="true" nillable="true"></xs:element>
<xs:element name="CrashPersonInjury" type="nc:InjuryType" nillable="true"></xs:element>
<xs:element name="CrashVehicle" abstract="true" nillable="true"></xs:element>
<xs:element name="CriminalInformationIndicator" type="xs:boolean" substitutionGroup="nc:MetadataAugmentationPoint" nillable="true">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DriverLicense" abstract="true" nillable="true"></xs:element>
<xs:element name="DriverLicenseCardIdentification" type="nc:IdentificationType" nillable="true"></xs:element>
<xs:element name="InjurySeverityCode" type="aamva_d20:AccidentSeverityCodeType" substitutionGroup="nc:InjurySeverityAbstract" nillable="true"></xs:element>
<xs:element name="IntelligenceInformationIndicator" type="xs:boolean" substitutionGroup="nc:MetadataAugmentationPoint" nillable="true">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="JuvenileAsAdultIndicator" type="xs:boolean" nillable="true"></xs:element>
<xs:element name="PersonAdultIndicator" type="xs:boolean" substitutionGroup="nc:PersonAugmentationPoint" nillable="true">
<xs:annotation>
<xs:documentation>An augmentation</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PersonChargeAssociation" abstract="true" nillable="true"></xs:element>
</xs:schema>
