niemtools-bouml/src/test/resources/schema/priv.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema targetNamespace="http://cabral.org/crashdriver/priv"
 xmlns="http://cabral.org/crashdriver/priv" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:priv="http://cabral.org/crashdriver/priv" xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/" xmlns:ct="https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/" ct:conformanceTargets="https://docs.oasis-open.org/niemopen/ns/specification/NDR/6.0/#ExtensionSchemaDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
<xs:annotation>
<xs:documentation> Schema for namespacehttp://cabral.org/crashdriver/priv</xs:documentation>
</xs:annotation><xs:complexType name="PrivacyCodeType">
<xs:complexContent><xs:extension base="xs:token"><xs:sequence></xs:sequence></xs:extension><xs:attributeGroup ref="structures:@SimpleObjectAttributeGroup"/></xs:complexContent><xs:simpleContent><xs:extension base="xs:token"><xs:attributeGroup ref="structures:@SimpleObjectAttributeGroup"/></xs:extension></xs:simpleContent>
</xs:complexType><xs:complexType name="PrivacyMetadataType">
<xs:complexContent><xs:extension base="structures:ObjectType"><xs:sequence><xs:element ref="priv:PrivacyCode" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence></xs:extension></xs:complexContent><xs:simpleContent><xs:extension base="structures:ObjectType"></xs:extension></xs:simpleContent>
</xs:complexType><xs:attribute name="privacyMetadataRef" type="xs:IDREFS" appinfo:referenceAttributeIndicator="true">
</xs:attribute>
<xs:element name="PrivacyCode" type="priv:PrivacyCodeType" nillable="true"></xs:element>
<xs:element name="PrivacyMetadata" type="priv:PrivacyMetadataType" nillable="true"></xs:element>
</xs:schema>
