niemtools-bouml/src/test/schema/exch.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema targetNamespace="http://local/exch"
 xmlns="http://local/exch" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:exch="http://local/exch" xmlns:hs="https://docs.oasis-open.org/niemopen/ns/model/domains/humanServices/6.0/" xmlns:j="https://docs.oasis-open.org/niemopen/ns/model/domains/justice/6.0/" xmlns:nc="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/" xmlns:priv="http://local/priv" xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/" xmlns:ct="https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/" ct:conformanceTargets="https://docs.oasis-open.org/niemopen/ns/specification/NDR/6.0/#ExtensionSchemaDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
<xs:annotation>
<xs:documentation> Schema for namespacehttp://local/exch</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/domains/humanServices/6.0/" schemaLocation="niem/domains/hs.xsd"/><xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/domains/justice/6.0/" schemaLocation="niem/domains/justice.xsd"/><xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/" schemaLocation="niem/niem-core.xsd"/><xs:import namespace="http://local/priv" schemaLocation="priv.xsd"/><xs:complexType name="CrashDriverInfoType">
<xs:annotation>
<xs:documentation>A data type for a collection of legal charges associated with the driver of a vehicle in a crash.</xs:documentation></xs:annotation><xs:complexContent><xs:extension base="structures:ObjectType"><xs:sequence><xs:element ref="hs:ParentChildAssociation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="hs:PersonOtherKinAssociation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="j:Charge" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="j:Crash" minOccurs="1" maxOccurs="1"/>
<xs:element ref="j:PersonChargeAssociation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="nc:Metadata" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="nc:PersonUnionAssociation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="priv:PrivacyMetadata" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element name="CrashDriverInfo" type="exch:CrashDriverInfoType" nillable="true">
<xs:annotation>
<xs:documentation>A collection of legal charges associated with the driver of a vehicle in a crash.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PersonFictionalCharacterIndicator" type="xs:boolean" substitutionGroup="nc:PersonAugmentationPoint" nillable="true">
<xs:annotation>
<xs:documentation>True if this person is a fictional character in a literary work; false otherwise.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>
