niemtools-bouml/src/test/schema/wrappers.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema targetNamespace="http://local/wrappers"
 xmlns="http://local/wrappers" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:exch="http://local/exch" xmlns:wrappers="http://local/wrappers" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/" xmlns:ct="https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/" ct:conformanceTargets="https://docs.oasis-open.org/niemopen/ns/specification/NDR/6.0/#ExtensionSchemaDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
<xs:annotation>
<xs:documentation> Schema for namespacehttp://local/wrappers</xs:documentation>
</xs:annotation><xs:import namespace="http://local/exch" schemaLocation="exch.xsd"/><xs:complexType name="CrashDriverInfoRequestType"><xs:sequence></xs:sequence></xs:complexType><xs:element name="CrashDriverInfoRequest" type="wrappers:CrashDriverInfoRequestType"/><xs:element name="CrashDriverInfoResponse" type="xs:string"/></xs:schema>
